:root {
  --bg-gd-st: #333;
  --bg-gd-end: #000;
  --text: #fff;
  --gd-ang: 135deg;

  /* Demo (reds → purples) */
  --dem-gd-st: #c100a7;
  /* bright red */
  --dem-gd-end: #43008b;
  /* vibrant purple */

  --dem-bd-st: #ff6b6b;
  /* coral */
  --dem-bd-end: #c70039;
  /* crimson */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  /* stop body scrolling */
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: linear-gradient(var(--gd-ang), var(--bg-gd-st), var(--bg-gd-end));
  color: var(--text);
  font-family: sans-serif;
  text-align: center;
}

header,
footer {
  flex-shrink: 0;
}

h1 {
  padding: 30px;
}

main {
  flex: 1;
  display: flex;
  overflow: hidden;
  /* stop main scrolling */
}

#demo {
  flex: 1;
  display: grid;
  gap: 20px;
  padding: 20px;
  overflow: hidden;
  /* ensure demo doesn’t scroll */
  height: 100%;
  transition: 1s;
}

footer {
  height: 100px;
}

.show-code {
  grid-template-columns: 1fr 300px 300px;
}

.hide-code {
  grid-template-columns: 1fr 300px 0px;
}

#gridbox {
  width: 100%;
  height: 100%;
  padding: 20px;
  border-radius: 20px;
  display: block;
  gap: 5px;
  overflow: hidden;
  background:
    linear-gradient(var(--gd-ang), var(--dem-gd-st), var(--dem-gd-end)) padding-box,
    linear-gradient(var(--gd-ang), var(--dem-bd-st), var(--dem-bd-end)) border-box;
  border-radius: 20px;
  border: 4px solid transparent;
}

.grid-item {
  min-width: 0;
  /* let items shrink */
  min-height: 0;
  /* let items shrink */
  display: flex;
  /* center text */
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 8px;
  border: 4px solid transparent;
  cursor: pointer;
  color: white;
  overflow: hidden;
  background-origin: border-box;
  background-clip: content-box, border-box;
}

#active {
  background: linear-gradient(var(--gd-ang), hsl(103, 100%, 70%), hsl(137, 100%, 50%)) padding-box,
    linear-gradient(var(--gd-ang), hsl(100, 100%, 85%), hsl(98, 100%, 60%)) border-box;
  color: rgb(2, 2, 107);
}

#controls {
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: stretch;
}

button {
  padding: 10px;
  cursor: pointer;
}


.pointer,
select {
  cursor: pointer;
}

#css-output-container {
  background: #111;
  color: #0f0;
  padding: 10px;
  border-radius: 8px;
  border: 2px solid #333;
  font-family: monospace;
  text-align: left;
  overflow: hidden;
}

a,
a:visited {
  color: white;
}

#item1 {
  background: linear-gradient(var(--gd-ang), hsl(0, 90%, 45%), hsl(0, 90%, 25%)) padding-box,
    linear-gradient(var(--gd-ang), hsl(0, 90%, 55%), hsl(0, 90%, 35%)) border-box;
}

#item2 {
  background: linear-gradient(var(--gd-ang), hsl(15, 90%, 45%), hsl(15, 90%, 25%)) padding-box,
    linear-gradient(var(--gd-ang), hsl(15, 90%, 55%), hsl(15, 90%, 35%)) border-box;
}

#item3 {
  background: linear-gradient(var(--gd-ang), hsl(30, 90%, 45%), hsl(30, 90%, 25%)) padding-box,
    linear-gradient(var(--gd-ang), hsl(30, 90%, 55%), hsl(30, 90%, 35%)) border-box;
}

#item4 {
  background: linear-gradient(var(--gd-ang), hsl(45, 90%, 45%), hsl(45, 90%, 25%)) padding-box,
    linear-gradient(var(--gd-ang), hsl(45, 90%, 55%), hsl(45, 90%, 35%)) border-box;
}

#item5 {
  background: linear-gradient(var(--gd-ang), hsl(60, 90%, 45%), hsl(60, 90%, 25%)) padding-box,
    linear-gradient(var(--gd-ang), hsl(60, 90%, 55%), hsl(60, 90%, 35%)) border-box;
}

#item6 {
  background: linear-gradient(var(--gd-ang), hsl(75, 90%, 45%), hsl(75, 90%, 25%)) padding-box,
    linear-gradient(var(--gd-ang), hsl(75, 90%, 55%), hsl(75, 90%, 35%)) border-box;
}

#item7 {
  background: linear-gradient(var(--gd-ang), hsl(90, 90%, 45%), hsl(90, 90%, 25%)) padding-box,
    linear-gradient(var(--gd-ang), hsl(90, 90%, 55%), hsl(90, 90%, 35%)) border-box;
}

#item8 {
  background: linear-gradient(var(--gd-ang), hsl(105, 90%, 45%), hsl(105, 90%, 25%)) padding-box,
    linear-gradient(var(--gd-ang), hsl(105, 90%, 55%), hsl(105, 90%, 35%)) border-box;
}

#item9 {
  background: linear-gradient(var(--gd-ang), hsl(120, 90%, 45%), hsl(120, 90%, 25%)) padding-box,
    linear-gradient(var(--gd-ang), hsl(120, 90%, 55%), hsl(120, 90%, 35%)) border-box;
}

#item10 {
  background: linear-gradient(var(--gd-ang), hsl(135, 90%, 45%), hsl(135, 90%, 25%)) padding-box,
    linear-gradient(var(--gd-ang), hsl(135, 90%, 55%), hsl(135, 90%, 35%)) border-box;
}

#item11 {
  background: linear-gradient(var(--gd-ang), hsl(150, 90%, 45%), hsl(150, 90%, 25%)) padding-box,
    linear-gradient(var(--gd-ang), hsl(150, 90%, 55%), hsl(150, 90%, 35%)) border-box;
}

#item12 {
  background: linear-gradient(var(--gd-ang), hsl(165, 90%, 45%), hsl(165, 90%, 25%)) padding-box,
    linear-gradient(var(--gd-ang), hsl(165, 90%, 55%), hsl(165, 90%, 35%)) border-box;
}

#item13 {
  background: linear-gradient(var(--gd-ang), hsl(180, 90%, 45%), hsl(180, 90%, 25%)) padding-box,
    linear-gradient(var(--gd-ang), hsl(180, 90%, 55%), hsl(180, 90%, 35%)) border-box;
}

#item14 {
  background: linear-gradient(var(--gd-ang), hsl(195, 90%, 45%), hsl(195, 90%, 25%)) padding-box,
    linear-gradient(var(--gd-ang), hsl(195, 90%, 55%), hsl(195, 90%, 35%)) border-box;
}

#item15 {
  background: linear-gradient(var(--gd-ang), hsl(210, 90%, 45%), hsl(210, 90%, 25%)) padding-box,
    linear-gradient(var(--gd-ang), hsl(210, 90%, 55%), hsl(210, 90%, 35%)) border-box;
}

#item16 {
  background: linear-gradient(var(--gd-ang), hsl(225, 90%, 45%), hsl(225, 90%, 25%)) padding-box,
    linear-gradient(var(--gd-ang), hsl(225, 90%, 55%), hsl(225, 90%, 35%)) border-box;
}

#item17 {
  background: linear-gradient(var(--gd-ang), hsl(240, 90%, 45%), hsl(240, 90%, 25%)) padding-box,
    linear-gradient(var(--gd-ang), hsl(240, 90%, 55%), hsl(240, 90%, 35%)) border-box;
}

#item18 {
  background: linear-gradient(var(--gd-ang), hsl(255, 90%, 45%), hsl(255, 90%, 25%)) padding-box,
    linear-gradient(var(--gd-ang), hsl(255, 90%, 55%), hsl(255, 90%, 35%)) border-box;
}

#item19 {
  background: linear-gradient(var(--gd-ang), hsl(270, 90%, 45%), hsl(270, 90%, 25%)) padding-box,
    linear-gradient(var(--gd-ang), hsl(270, 90%, 55%), hsl(270, 90%, 35%)) border-box;
}

#item20 {
  background: linear-gradient(var(--gd-ang), hsl(285, 90%, 45%), hsl(285, 90%, 25%)) padding-box,
    linear-gradient(var(--gd-ang), hsl(285, 90%, 55%), hsl(285, 90%, 35%)) border-box;
}

#item21 {
  background: linear-gradient(var(--gd-ang), hsl(300, 90%, 45%), hsl(300, 90%, 25%)) padding-box,
    linear-gradient(var(--gd-ang), hsl(300, 90%, 55%), hsl(300, 90%, 35%)) border-box;
}

#item22 {
  background: linear-gradient(var(--gd-ang), hsl(315, 90%, 45%), hsl(315, 90%, 25%)) padding-box,
    linear-gradient(var(--gd-ang), hsl(315, 90%, 55%), hsl(315, 90%, 35%)) border-box;
}

#item23 {
  background: linear-gradient(var(--gd-ang), hsl(330, 90%, 45%), hsl(330, 90%, 25%)) padding-box,
    linear-gradient(var(--gd-ang), hsl(330, 90%, 55%), hsl(330, 90%, 35%)) border-box;
}

#item24 {
  background: linear-gradient(var(--gd-ang), hsl(345, 90%, 45%), hsl(345, 90%, 25%)) padding-box,
    linear-gradient(var(--gd-ang), hsl(345, 90%, 55%), hsl(345, 90%, 35%)) border-box;
}

#item25 {
  background: linear-gradient(var(--gd-ang), hsl(360, 90%, 45%), hsl(360, 90%, 25%)) padding-box,
    linear-gradient(var(--gd-ang), hsl(360, 90%, 55%), hsl(360, 90%, 35%)) border-box;
}