:root {
    --bg-gd-st: #333;
    --bg-gd-end: #000;

    /* Demo (reds → purples) */
    --dem-gd-st: #ff4d4d;   /* bright red */
    --dem-gd-end: #7a00ff;  /* vibrant purple */

    --dem-bd-st: #ff6b6b;   /* coral */
    --dem-bd-end: #c70039;  /* crimson */

    /* Inactive (blues → teals) */
    --inact-gd-st: #0092bb; /* electric blue */
    --inact-gd-end: #00479e; /* deep blue */

    --inact-bd-st: #33e1ed; /* aqua */
    --inact-bd-end: #008080; /* teal */

    /* Active (greens → yellows) */
    --act-gd-st: #00b158;   /* spring green */
    --act-gd-end: #008341;  /* jade green */

    --act-bd-st: #faff00;   /* neon yellow */
    --act-bd-end: #00ff7f;  /* spring green */

    --text: rgb(255, 255, 255);

    --gd-ang: 135deg;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    min-height: 100vh;
    background-image: linear-gradient(var(--gd-ang), var(--bg-gd-st), var(--bg-gd-end));
    color: var(--text);
    font-family: sans-serif;
    text-align: center;
}
h1{
    padding: 30px;
}

main {
    flex: 1;
}

footer {
    height: 100px;
}

#demo{
    width: 100%;
    height: 100%;
    padding: 20px;
    display: grid;
    gap: 20px;
    overflow: hidden;
    transition: 1s;
}

.show-code{
    grid-template-columns: 1fr 300px 300px;
}
.hide-code{
    grid-template-columns: 1fr 300px 0px;
}

#flexbox {
    width: 100%;
    height: 100%;
    max-width: 100%;
    margin: auto;
    padding: 20px;
    border-style: solid;
    background:
        linear-gradient(var(--gd-ang), var(--dem-gd-st), var(--dem-gd-end)) padding-box,
        linear-gradient(var(--gd-ang), var(--dem-bd-st), var(--dem-bd-end)) border-box;
    border-radius: 20px;
    border: 4px solid transparent;
    gap: 5px;
}

.flex-item {
    padding: 5px;
    background:
        linear-gradient(var(--gd-ang), var(--inact-gd-st), var(--inact-gd-end)) padding-box,
        linear-gradient(var(--gd-ang), var(--inact-bd-st), var(--inact-bd-end)) border-box;
    border-radius: 5px;
    border: 4px solid transparent;
    cursor: pointer;
    transition: 1s;
}

.flex-item.active {
    background:
        linear-gradient(var(--gd-ang), var(--act-gd-st), var(--act-gd-end)) padding-box,
        linear-gradient(var(--gd-ang), var(--act-bd-st), var(--act-bd-end)) border-box;
}

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.center {
    justify-content: center;
    align-items: center;
}

#controls{
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: stretch;
}
#reset-container{
    align-self: center;
}
button{
    padding: 10px;
    cursor: pointer;
}
input, select{
    cursor: pointer;
}

#css-output-container {
  background: #111;
  color: #0f0;
  padding: 10px;
  border-radius: 8px;
  border: 2px solid #333;
  overflow-y: auto;
  font-family: monospace;
  text-align: left;
  overflow-x: hidden;
}




